.big-photo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(92, 88, 88, 0.5)
}

.big-photo__wrapper {
    border-radius: 15px;
    padding: 1%;
    background-color:rgba(239, 230, 230, 0.5);

    position: absolute;
    width: 50%;
    height: auto;
    top: calc(50% - 20%);
    left: calc(50% - 25%);

    img {
        display: block;
        width: 100%;
    }

}

.big-photo__close {
    width: 22px;
    height: 22px;
    border: 0;
    position: absolute;
    top: 0px;
    right: 0px;
    background: 0;
    cursor: pointer;

     &::after, &::before {
        content: "";
        position: absolute;
        width: 25px;
        height: 4px;
        left: 100%;
        top: 50%;
        background-color: #ffffff;
     }

     &::after {
        transform: rotate(-45deg);
      }
      &::before {
        transform: rotate(45deg);
      }

  }
