.cta {
    padding: 10% 5%;
    border-radius: 32px;
    background-image: url('../img/cta-background.jpg');

    background-size: cover;
    background-repeat: no-repeat;
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: $retina-dppx){
        background-image: url('../img/cta-background@2x.jpg');
    }
    @media (-webkit-min-device-pixel-ratio: 3), (min-resolution: $retina-dppx){
        background-image: url('../img/cta-background@3x.jpg');
    }

}

.cta__title {
    margin-top: 0;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    color: #1b1c57;
}

.cta__img-random {
    display: none;
}

@media (min-width: 720px) {
    .cta {
        padding: 5% 5%;
        position: relative;
}

    .cta__title {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 5%;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
    }

    .cta__img-random {
        display: block;
        position: absolute;
        border-radius: 24px;
        border: 2px #ffffff;
        width: 5%;
    }

    .cta__img-random--1 {
        top: 5%;
        left: 5%;
        width: 8%;
    }

    .cta__img-random--2 {
        top: 57%;
        left: 14%;
        width: 8%;
    }

    .cta__img-random--3 {
        top: 5%;
        right: 5%;
        width: 8%;
    }

    .cta__img-random--4 {
        top: 57%;
        right: 14%;
        width: 8%;
    }

    .cta__img-random--5 {
        top: 19%;
        left: 17%;
    }

    .cta__img-random--6 {
        top: 57%;
        left: 6%;
    }

    .cta__img-random--7 {
        top: 19%;
        right: 17%;
    }

    .cta__img-random--8 {
        top: 57%;
        right: 6%;
    }
}

@media (min-width: 1200px) {
    .cta__title {
        font-size: 32px;
        line-height: 40px;
    }

    .cta__img-random--5, .cta__img-random--6, .cta__img-random--7, .cta__img-random--8 {
        border-radius: 50%;
    }
}