.logo {
   width: 116px;
   height: 36px;
    
}

.logo--footer {
  margin: 0 auto;  
}

.logo--hidden {
    display: none;
}


@media (min-width: 720px) {
  .logo--footer {
    margin: 0;  
  }
}

@media (min-width: 1200px) {
  .logo__img {
    width: 150px;
    height: auto;
     
 }

  .logo--footer {
    margin-bottom: 20px;
  }
}